body {
  /* margin: 0 !important; */
  box-sizing: border-box;
  background-color: #020631 !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.todo-items {
  margin: 0;
  padding: 0;
}

body > *, .todo-fields {
  text-align: center !important;
}

span {
  color: rgb(219, 53, 186);
}

.todo-area input {
  padding: 10px;
  width: 100%;
  margin: 2rem 0;
  background-color: white !important;
  width: 285px;
  height: 1.5rem;
  color: black;
  border: none;
  border-radius: 3px;
}

li input:checked  {
  background-color: black !important;
}

li {
  width: 315px;
  margin: 2rem auto;
}

button {
  background-color: white;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

.fa-plus {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0 5px;
}

footer {
  margin-top: 3rem;
}

.title img {
  margin-top: 2rem;
  width: 70px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.drawn {
  text-decoration: line-through 3px black;

}

.result {
  margin-top: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  color: rgb(46, 179, 51);
}